@import '../mixins.scss';

.section-three {
  margin: 110px 0;
  .border {
    border-right: 2px solid $white;
  }
  .left {
    margin-right: -6px;
    text-align: right;
    .goal-container {
      flex-direction: row-reverse;
      justify-content: end;
    }
    .goal-connector {
      transform: rotate(180deg);
    }
    .main-goal-connector {
      margin-right: -12px;
      z-index: 100;
    }
  }
  .right {
    padding-top: 145px;
    margin-left: -6px;
    text-align: left;
    .goal-container {
      flex-direction: row;
      justify-content: start;
    }
    .main-goal-connector {
      transform: rotate(180deg);
      margin-left: -12px;
    }
  }
  .goal-container {
    // margin-bottom: 200px;
    margin-bottom: 11vw;

    &.empty {
      margin-bottom: 290px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    .goal-connector,
    .main-goal-connector {
      margin-top: 20px;
      width: 80px;
    }

    .goal {
      // width: 385px;
      width: 20.4vw;
      // height: 90px;
      height: 4.7vw;
      position: relative;
      
      img {
        width: 100%;
      }
      .text {
        width: calc(100% - 4px);
        height: calc(100% - 5px);
        // height: 100%;
        padding: 0 15px;
        border-radius: 30px 0 15px 0;
        margin: 3px;
        display: inline-block;
        
        &.main {
          background: $btnGradient;
        }
        span {
          font-family: Avenir LT Std;
          font-size: 1.2vw;
        }
        h4 {
          font-size: 2vw;
          margin: 0.9vw 5px;
        }
        h5 {
          margin: 5px 0;
          font-size: 1vw;
        }
      }
      .goal-border {
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .section-three {
    .goal-container {
      margin-bottom: 50px;

      &.empty {
        margin-bottom: 150px;
      };
      .goal-connector, 
      .main-goal-connector {
        width: 10px;
        margin: 0;
      }
      .goal {
        width: 140px;
        height: 36px;
        .text {
          border-radius: 7px 0;
          h4 {
            font-size: 15px;
            margin: 5px;
          }
          h5 {
            font-size: 9px;
          }
          span {
            width: 100%;
            font-size: 12px;
          }
          &.main {
            padding: 0 !important;
          }
        }
      }
    }
    .roadmap {
      .left,
      .right {
        margin: 0;
        width: 50%;
      }
      .right {
        padding-top: 50px;
      }
      .left .goal-container .goal {
        .text {
          padding: 0 7px 0 0;
        }
      }
      .right .goal-container .goal{
        .text {
          padding: 0 0 0 7px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .section-three {
    .goal-container {
      .goal {
        width: 250px;
        height: 58px;

        .text h4  {
          text-align: center;
          padding: 10px;

        }
      }      
    }
    .roadmap {
      .left,
      .right {
        width: 80%;
      }
    }
  }
}
