@import '../mixins.scss';

.section-two {
  margin: 110px 0;

  .carousel-container {
    margin: 70px 0;

    img {
      margin: 0 5px;
      width: 19vw;
      height: 26vw;
      margin: 0 auto;
    }
    .arrow-right,
    .arrow-left {
      img {
        width: 49px;
        height: 71px;
      }
    }
    .arrow-right {
      height: 100%;
      width: 100px;
    }
    .arrow-left {
      height: 100%;
      margin: 0 20px;
    }
  }
}