@import "react-slideshow-image/dist/styles.css";

@import '../mixins.scss';

.section-two {
  margin: 110px 0;

  .carousel-container {
    margin: 70px 0;
    position: relative;

    .each-slide > div {
      display: flex;
      align-items: center;
      justify-content: start;
      background-size: cover;
      width: 18vw;
      height: 26vw;

      span {
        font-weight: bolder;
        background: $pink;
        padding: 5px 10px;
        justify-self: start;
        align-self: end;
      }
    }
    
    .indicator {
      width: 30px;
      color: $pink;
      text-align: center;
      cursor: pointer;
      border: 1px $pink solid;
    }
    .indicator.active {
      background: #000;
      color: $white;
    }
    .arrow-right,
    .arrow-left {
      position: absolute;
      border-radius: 50%;
      background: $btnGradient;
      height: 100%;
      width: 100px;
      margin: 0 20px;
      width: 60px;
      height: 60px;
      padding: 5px;

      img {
        width: 50px;
        height: 50px;
      }
    }
    .arrow-right {
      right: 10px;
    }
    .arrow-left {
      left: 10px;
    } 
  }
}

@media only screen and (max-width: 1023px) {
  .section-two .carousel-container {
    .each-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {      
        background-size: cover;
        width: 250px;
        height: 365px;
      }
    }
    .arrow-right,
    .arrow-left {
      margin: 5px;
      width: auto;
      width: 35px;
      height: 35px;
      padding: 2.5px;

      img {        
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $txtGradient;
      }
    }
    .arrow-right {
      right: 5px;
    }
    .arrow-left {
      left: 5px;
    } 
  }
}