
//colors
$pink: #FE056B;
$black: #000000;
$white: #FFFFFF;
//gradient
$btnGradient: linear-gradient(180deg, #3C031C 0%, #0D0F24 53.65%);
$darkGradient: linear-gradient(180deg, #3C031C 0%, #0D0F24 100%);
$txtGradient:  linear-gradient(180.14deg, #1C214F 50.2%, #0A0B0F 99.88%);