
//colors
$pink: #FE056B;
$white: #FFFFFF;
//gradient
$btnGradient: linear-gradient(180deg, #7F0235 0%, rgba(28, 33, 79, 0.9) 53.65%);
$txtGradient:  linear-gradient(180.14deg, #1C214F 50.2%, #0A0B0F 99.88%);