@import '../mixins.scss';

.section-one {
  margin: 110px 0;

  .card {
    width: 390px;
    color: $white;

    .border-container {
      width: 17px;
      img {
        height: 100%;
      }
    }
    .card-content {
      margin: 0 25px;
      
      .polygon {
        margin: 10px 0 0 -27px;
      }
    }

    h3 {
      font-family: Avenir LT Std;
      text-align: center;
      font-weight: normal;
      font-size: 1.5vw;
      line-height: 38px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 35px;
      min-height: 75px;
    }
    .svg {
      height: 10.4vw;

      img {
        height: 100%;
      }
    }

    .description {
      position: relative;
      
      img {
        position: absolute;

        &:first-of-type {
          top: -10px;
          left: -10px;
        }
        &:last-of-type {
          bottom: -10px;
          right: -10px;
        }
      }

      .description-background {
        width: 100%;
        height: 260px;
        padding: 18px;
        background: $txtGradient;
        border-radius: 15px 0 15px 0;
        
        p {
          margin: 0;
          text-align: center;
          font-family: Avenir LT Std;
          font-size: 1.05vw;
          line-height: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .section-one .card .description .description-background{
    height: 175px;
  }
  .section-one .card .border-container {
    height: 480px;
  }
}

@media only screen and (max-width: 1023px) {
  .section-one  {
    margin: 70px 0;
    div.cards-container {
      flex-direction: column;
      
      .card  {
        margin: 0 auto;
        width: calc(100% - 30px);
        max-width: 450px;

        .card-content {
          width: calc(100% - 50px - 12vw);
          margin: 0 6vw;

          .polygon {
            width: 30px;
            height: 30px;
            margin: 10px 0 0 -22px;
          }
          .svg {
            height: 100px;
          }
          h3 {
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
            padding-top: 10px;
          }
          .description .description-background {
            padding: 10px;
            p {
              font-size: 16px;
              line-height: 24px;
            }
          } 
        }
      }
    }
  }
}