@import '../mixins.scss';

.footer {
  margin: 110px 0 0 0;
  .header {
    position: relative;
  }
  p {
    margin-top: 75px;
    text-align: center;
    font-family: Avenir LT Std;
  }
  .title-container .title-with-dragon {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .footer {
    margin: 0;
    p {
      margin-top: 25px;
      font-size: 10px;
      padding: 15px;
    }
  }
  .header {
    flex-direction: column;

    .links {
      display: none;
    }
  }
  h2 img{
    width: 50px;
    height: 50px;
  }
}
